<div
  class="card border-primary overflow-hidden shadow"
  style="max-width: 20rem"
>
  <div class="text-center country-flag">
    <!-- Imagen de la bandera si existe -->

    <img
      *ngIf="flagUrl"
      [src]="flagUrl"
      alt="{{ country.name }} Flag"
      class="country-flag card-img-top"
    />
  </div>
  <div
    type="button"
    class="p-2 d-flex align-items-center gap-2"
    (click)="selectedCountryByCode()"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#demo"
  >
    <img
      [src]="getImageFlagByCode(country.code || '')"
      alt="{{ country.name }}"
      class="mini-flag"
    />
    <!-- Nombre del país -->
    <div>
      <p class="m-0 p-0 fs-5 text-primary fw-bolder">{{ country.name }}</p>
      <p class="m-0 p-0">{{ country.continent?.name || "" }}</p>
    </div>
  </div>
</div>
