<div class="offcanvas offcanvas-start" id="sidebar">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Mi Aplicación</h1>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
    ></button>
  </div>
  <div class="offcanvas-body">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
          routerLink="/"
            routerLinkActive="active"
            class="nav-link d-flex align-items-center text-light"
          >
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center text-light"
            routerLink="/vista1"
            routerLinkActive="active"
          >
            <span>Vista 1</span>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a
            class="nav-link d-flex align-items-center text-light"
            routerLink="/vista2"
            routerLinkActive="active"
          >
            <span>Vista 2</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
