.transition-sidebar {
  transition: width 0.5s ease;
  width: 250px;
}

.collapsed {
  width: 0;
  padding: 0;
}

#sidebar.collapsed .nav-link {
  display: none;
}

#sidebar.collapsed h4,
#sidebar.collapsed .nav {
  display: none;
}
