<nav id="sidebar" class="bg-dark p-3 border-end h-100" style="width: 250px;">
  <div class="d-flex flex-column align-items-center mb-1">
    <h4 class="text-center">Mi Aplicación</h4>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">
        <i class="bi bi-house-door"></i> Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vista1" routerLinkActive="active">
        <i class="bi bi-file-earmark"></i> Vista 1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vista2" routerLinkActive="active">
        <i class="bi bi-file-earmark"></i> Vista 2
      </a>
    </li>
  </ul>
</nav>
